.divFooter {
    height: 30vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 15%;
    gap: 10%;
    background-color: rgb(253, 202, 202);
}
.divFooter h1 {
    font-size: 24px;
}
.divFooter hr {
    margin-right: 40%;
    border: 1px solid #8E8E8E;
}
.divCos {
    padding: 0 5%;
}
.divCos p {
    margin-right: 50%;
}
.divCos p:hover {
    cursor: pointer;
}
.divCos p:active {
    opacity: 0.5;
}
.divSol {
    padding: 0 5%;
}
.footerIcon {
    margin: 16px 0;
}
.footerIcon a {
    text-decoration: none;
}
.descripOne {
    padding: 5% 15%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.8);
}
.descripTwo {
    padding: 5% 15%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.8);
}
.descripThree {
    padding: 5% 15%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.8);
}
.hidden {
    display: none;
}
.visible {
    display: block;
}